.Grid {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 30px;
}

.Title {
  font-size:50px;
  font-family:arial;
}

.Abessinier-Picture,
.ÄgyptischeMau-Picture,
.AmericanCurl-Picture,
.AmericanShorthair-Picture,
.AmericanWirehair-Picture,
.Balinese-Picture,
.BengalKatze-Picture,
.BombayKatze-Picture,
.BritischKurzhaar-Picture {
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius: 8px 8px 0px 0px;
}

.AmericanCurl-text,
.ÄgyptischeMau-text,
.Abessinier-text,
.AmericanShorthair-text,
.AmericanWirehair-text,
.Balinese-text,
.BengalKatze-text,
.BombayKatze-text,
.BritischKurzhaar-text {
  display:block;
  margin-left:40px;
  margin-right:90px;
  font-family:Arial;
}

.Abessinier-div,
.ÄgyptischeMau-div,
.AmericanCurl-div,
.AmericanShorthair-div,
.AmericanWirehair-div,
.Balinese-div,
.BengalKatze-div,
.BombayKatze-div,
.BritischKurzhaar-div {
  border:solid;
  Border-radius:8px;
  Border-color:lightgrey;
}


.Felix-Picture,
.Melek-Picture,
.Bänzeli-Picture {
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius: 8px 8px 0px 0px;
}

.Melek-Picture,
.Felix-Picture {
  object-fit:top;
}

.title {
  display:block;
  font-size:50px;
  font-family:arial;
}